<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> mysite - {% block title %}   {% endblock %}</title>
</head>
<body>
	<header>
		<h1>Mysite.com</h1>
		<nav>
			<a href="{% url 'home' %}">home</a>
			<a href="{% url 'contact' %}">contact</a>
			<a href="{% url 'gallary' %}">gallary</a>
		</nav>
	</header>
			<content>
				{% block content  %}


				{% endblock %}
			</content>


	<footer>
		<p>copyright@2024</p>
		<p>+92-000000000</p>
	</footer>

	{% block endnote %}  {% endblock %}

</body>
</html>